.slider-container{
    display: flex;
    height: 80vh;
    position: relative;
    overflow: hidden;
    transition: all 1 s ease;
    padding: 50px 0;
}
.slider-container img{
    margin: 50px 0;
    height: 70vh;
    width: 100vw;
}